body{
    overflow-x: hidden;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(220, 15%, 55%);
}

.card{
    width: 20%;
    max-width: 400px;
    height: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    padding: 10px;
}

.cont-imagen{
    position: relative;
    top: -8px;
    height: 55%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.imagen{
height: 100%;
width: 100%;
border-radius: 10px;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 35%;
    min-width: 90%;
    position: relative;
    top: -15px;
    padding: 15px;
}

.texto h3{
    position: relative;
    top: 10px;
}

.texto p{
    position: relative;
    bottom: 5px;
    color: hsl(220, 15%, 55%);
}

@media (max-width: 590px) {
    .texto h3 {
      font-size: 18px; /* ajusta el tamaño de la fuente para pantallas más pequeñas */
    }

    .card{
        width: 70%;
        height: 60%;
        margin-right: 10px;
    }

    .imagen{
        height: 100%;
        width: 80%;
        border-radius: 10px;
        }
  }